body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 10vmin);
    grid-template-columns: repeat(3, 10vmin);
    grid-gap: 0vmin;
    justify-content: center;
}

.cell {
    border: 3px solid rgb(37, 121, 114);
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
    background-color: lavender;
    }
    .cell:hover {
        cursor: pointer;
    }

    h1 {
        text-align: center;
        margin: 0 auto;
    }

    #message {
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    margin: 20px;
    }

    div {
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
    }
 
    .reset-button {
    font-family: 'Big Shoulders Stencil Text', cursive;
    background-color: rgb(149, 108, 187);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 45px;
    width: 80px;
    margin: 10px;
    }

    .reset-button:hover {
        color:  rgb(149, 108, 187);
        background-color: lavender;
        cursor: pointer;
    }

    .cell:first-child,
    .cell:nth-child(2),
    .cell:nth-child(3) {
        border-top: none;
    }

    .cell:nth-child(3n + 1){
        border-left: none;
    }

    .cell:nth-child(3n +3) {
        border-right: none;
    }

    .cell:last-child,
    .cell:nth-child(8),
    .cell:nth-child(7) {
        border-bottom: none;
    }

.x,
.o {
  cursor: default;
}

.x::after {
  content: 'X';
  color: rgb(17, 112, 112);
  font-size: 40px;
}

.o::after {
  content: 'O';
  color: #784da8;
  font-size: 40px;
}
